<!--imagen portada -->
<div class="portada">
    <img src="images/12.webp" class="d-block w-100" alt="cafeterias">
</div>
<!--fin imagen portada-->
<!-- inicio home-->
<div class=" container-fluid">
    <div class="row my-3">
        <div id="home" class="col-md-5 offset-md-2 scroll_section">
            <h1 class="text-center my-4">Sobre Nosotros</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam magnam ea eveniet, fugit aliquam aut
                fuga possimus non vero? Doloremque blanditiis sit, dignissimos quod labore minima accusamus velit et
                reprehenderit.</p>
            <div class="img">
                <img class="img-fluid" src="images/brunch.webp" alt="brunch">
            </div>
        </div>
        <!--fin home-->
        <!-- inicio carousel -->
        <div class="col-md-3 my-3">
            <div class="rounded py-5 testimonios">
                <section id="testimonio" class="testimonios seccion-clara">
                    <h2 class="seccion-titulo">Testimonios</h2>
                    <h4 class="seccion-descripcion">Estos son algunos testimonios de mis clientes...</h4>

                    <div id="testimonios-carrusel" class="carousel carousel-dark slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="container">
                                    <img class="testimonio-imagen rounded-circle " src="images/hombre.jpg" alt="foto">
                                    <p class="testimonio-texto">Súper recomendable,todo estaba riquisimo</p>
                                    <div class="testimonio-info">
                                        <p class="cliente">Roberto</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <img class="testimonio-imagen rounded-circle " src="images/foto.webp" alt="foto">
                                    <p class="testimonio-texto">Ambiente muy lindo, Muy buena atención</p>
                                    <div class="testimonio-info">
                                        <p class="cliente">Laura</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <img class="testimonio-imagen rounded-circle" src="images/mujer.jpg" alt="foto">
                                    <p class="testimonio-texto">Me encanta el lugar y la atención que brindan</p>
                                    <div class="testimonio-info">
                                        <p class="cliente">Maria</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#testimonios-carrusel"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Anterior</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#testimonios-carrusel"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Siguiente</span>
                        </button>
                    </div>
                </section>

            </div>
        </div>
        <!-- fin carousel-->
        <!--Inicio Card-->
        <section class="card my-5">
            <h2 class="text-center my-5">Nuestra Carta</h2>
            <div class="container principal">
                <div class="row">
                    <div class="col-4">
                        <div class="card-text">
                            <img src="images/brunch2.webp" class="card-img-top" alt="brunch ">
                            <div class="card-body">
                                <h5 class="card-title">Desayunos y Brunch</h5>
                                <p class="card-text">Un texto de ejemplo rápido para colocal cerca del
                                    título de la tarjeta
                                    y componer la mayor parte del contenido de la tarjeta.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card-text">
                            <img src="images/merienda.webp" class="card-img-top" alt="meriendas">
                            <div class="card-body">
                                <h5 class="card-title">Meriendas</h5>
                                <p class="card-text">Un texto de ejemplo rápido para colocal cerca del
                                    título de la
                                    tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 ">
                        <div class="card-text">
                            <img src="images/tortas.jpg" class="card-img-top" alt="tortas">
                            <div class="card-body">
                                <h5 class="card-title">Tortas</h5>
                                <p class="card-text">Un texto de ejemplo rápido para colocal cerca del
                                    título de la
                                    tarjeta y componer la mayor parte del contenido de la tarjeta.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>
    <!--fin card-->
    <!--inicio novedades-->
    <div class="row my-3">
        <div id="novedades" class="col-md-6 offset-md-3">
            <h2 class="my-4">Novedades</h2>

            <ul class="lista-novedades">
                <li><a href=""><img src="images/carrot.jpg" alt="carrotcake" style="height: 200px;">Ingreso
                        carrotcake
                    </a></li>
                <li><a href=""><img src="images/frapp.jpg" alt="carrotcake" style="height: 200px;">Ingreso
                        Frappé
                    </a></li>
                <li><a href=""><img src="images/red.jpg" alt="carrotcake" style="height: 200px;">Ingreso Red velvet
                    </a></li>
            </ul>
        </div>
        <!--fin novedades-->
        <!--inicio iframe-->
        <section class="mapa">
            <div id="conocenos" class="row py-4">
                <div class="col-4 offset-md-2">
                    <h2>visitanos</h2>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.210053538495!2d-58.42269182346344!3d-34.598849557242346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca7cd54f107b%3A0x88bd8fe0e0b6e3a6!2sCentro%20de%20e-Learning%20UTN%20BA!5e0!3m2!1ses-419!2sar!4v1695669957523!5m2!1ses-419!2sar"
                        width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>medrano 951</iframe>
                </div>
            </div>
    </div>
    </section>
    <!--fin iframe-->
    <!--inicio formulario-->
    <div class="col-4">
        <h2 class="text-center">Contacto</h2>
        <div class="container">
            <form class="row" action="/" method="post">
                <div class="col-6 mb-3">
                    <label for="Nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="nombre"
                        aria-describedby="emailHelp">
                </div>
                <div class="col-6 mb-3">
                    <label for="apellido" class="form-label">apellido</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="apellido"
                        aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text"></div>
                </div>
                <div class="col-12">
                    <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" name="mail"
                        aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text"></div>
                </div>
                <div class="col-12">
                    <label for="tel" class="form-label">tel</label>
                    <input type="number" class="form-control" id="tel" name="telefono">
                </div>
                <div class="mb-3 form-check">
                    <label for="exampleInputPassword1" class="form-label">mensaje</label>
                    <input type="text" class="form-control" id="mensaje" name="mensaje">
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
                <p>{{messagge}}</p>
            </form>
        </div>
    </div>
    <!--fin formulario-->